#pincodeEntry{
    
    
    padding: 10px;
    margin: 10px;
    border-width: 2px;
    border-color:  rgb(41, 84, 255);
    margin-bottom: 10px;
}
#pincodecontainer{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
   
}
#checkpincode{
  
     margin: 10px !important;
    padding: 10px !important;
   
}
#pincodetext{
    color:  rgb(41, 84, 255);
    left: 0px;
    margin-left: 10px;
        

}

#inputconatiner{
    margin-top: 5px;
}