.couponContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* border-radius: 10px; */
  height: 100px;
}

#couponDesc {
  color: rgb(107, 107, 107);
  font-size: small;
}

#couponName {
  font-weight: bold;
  font-size: large;
}

#showCoupons {
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: space-between;
  border-width: 2px;
}

#couponText {}

#codeText {
  color: green;
}

#couponTextContainer {
  display: flex;

  flex-direction: column;
  justify-content: center;
}

#mainOrderSummary {

  width: 400px;
}

#RemoveCoupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid rgba(41, 84, 255, 0.5); */
  border-radius: 10px;
}

.ApplyBtn {
  width: 100%;
  border-width: 2px;
  display: flex;
  align-items: center;
  /* flex-direction: row; */
  justify-content: space-between;
  border-width: 2px;
}

.couponRow {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  border-radius: 6px;
  border-color: #333;
  border-width: 1px;
  padding: 5px;
}

.couponText {
  color: #333;
}

.couponApplyBtn {
  font-weight: bold;
  color: rgb(41, 84, 255);
}
.Dialog{
  height: fit-content;
}
.applyBtn{
  border-color: #333;
  border-width: 1px;
  padding: 10px;
  border-style: dashed;
  background-color:#fff;
}
.color-0{
  background-color: #fffbf9;
}
.color-1{
  background-color: rgb(255, 255, 255);
}